

body {
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    color:  hsl(184, 14%, 56%);
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  -webkit-appearance: none;
  margin: 0;
}
